body {
    background-color: #a5aaa8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    color: #383030;
    text-align: center;
    padding: 20px;

}
.product-grid {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin:  auto;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.product-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius:10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    
}       
.product-card :hover {
    width: 100%;
    height: auto;
    transform: scale(1.5);
    box-shadow: 0.4px 12px  rgba(0, 0, 0, 0.1);  
}
.product-card img {
    width: 100px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}